@media (min-width: 1200px) {
.container {
    max-width: 970px;
}
}
@media (min-width:400px){
.global-search {
padding: 20px 0;
text-align:center;
}
/* body {
padding-top: 15%;
padding-bottom: 15px;
} */
.global-search {
    margin-top: 30vh;
    text-align:center;
    padding:10px;
}

.global-search * {
display:inline-block;
}
}

#inputs{
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: space-evenly;
}
#input1, #input2 {
    width: 30vw;
    margin-right: 10px;
}
#priceSelect {
    width: 20vw;
    height: fit-content;
}
.submit {
    vertical-align: baseline;
    height:fit-content;
    margin-top: auto;
}
.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}
/* .topcorner{
position:absolute;
top:2%;
right:2%;
}
.btn{
background-color: #4285F4;
border: none
}
.step-links a{
color: #4285F4;
} */
.top-banner {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.goback {
    color: white;
    text-decoration: none;
}
.result {
    margin-left: 10px;
    margin-right: 10px;
}
.query {
    margin: 0px 10px 0px 10px;
    width:fit-content
}
.results-label {
    margin: 20px 10px 0px 10px;
    font-size: 20px;
    font-weight: bold;
}

.query > span {
    font-weight: bold;
}
.rest-title {
    font-size: 20px;
}
.rating {
    margin-left: 20px
}
.fa-star {
    color: gold
}
.no-res {
    position: fixed; /* or absolute */
    top: 50%;
    left: 40%;
}