@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
/* @media (min-width: 1200px) {
    .container {
        max-width: 970px;
    }
} */


/* @media (min-width:400px){
.global-search {
padding: 20px 0;
text-align:center;
}
.global-search * {
display:inline-block;
}
} */

.global-search {
    margin-bottom: 0px
}

body {
    font-family: 'Kameron';
    margin: 0px
}

a {
    text-decoration: none;
    color: inherit
}

a:hover {
    color: inherit
}

*:focus {
    outline: none !important;
    box-shadow: none !important;
}
.version-links {
    color: white;
    font-size: small;
}
.bg {
    height: 100%;
    width: 100%;
    padding: 30px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://i.imgur.com/xCfNBOW.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#header {
    font-size: 6rem;
    font-weight: 700;
    -webkit-text-stroke: 3px #D0881B;
    color: transparent;
    margin-bottom: 0px;
}

#slogan {
    color: white;
    font-size: 18px
}

#inputs {
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#input1,
#input2 {
    width: 30vw;
    margin-right: 10px;
}

.directions {
    font-size: small;
    color: white
}

#priceSelect,
#locSelect {
    width: 20vw;
    height: fit-content;
}

.submit {
    vertical-align: baseline;
    height: fit-content;
    width: fit-content;
    margin-top: 40px;
    background-color: #FFA733;
    border: none
}

.submit:hover {
    background-color: rgb(34, 85, 143)
}

.form-lab {
    font-size: 24px;
    margin-top: 20px;
    color: white
}

.review-btn,
.review-btn:hover {
    float: right;
    color: white;
    width: fit-content;
    margin-top: -20px
}

/*results page */

::-webkit-scrollbar {
    width: 7px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.res-container {
    min-height: 100%;
    display: flex;
    padding: 16px;
    background-color: #DFEAF6;
    font-family: 'Open Sans';
}
.goback,
.goback:hover {
    color: white;
    text-decoration: none;
    font-size: 14px
}
.new {
    margin-left: 10px
}
.query {
    flex: 0.4
}
.results {
    flex: 1;
}

#heading {
    font-size: 24px;
    font-weight: 700;
}
.query-lab {
    color: #683721;
    margin-bottom: 5px
}
.query-row {
    margin-left: 10px
}
.value {
    width: 50%;
    border: black solid 1px;
    border-radius: 5px;
    background-color: white;
    padding-left: 5px
}
.result {
    overflow: hidden;
    max-height: 350px;
    margin-bottom: 20px;
    background-color: white;

}
.rest-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0px;
    display: inline-block;
    margin-right: 10%
}
.rest-address {
    font-size:14px
}
.star-outer {
    position:relative;
    display: inline-block;
    margin-right: 5px;
}
.star-outer > i::before {
    color: #ccc
}
.star-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;

}
.star-inner::before {
    font-weight: 900;
    color: #FFAA5C
}
.item-container {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 200px;
}
.row {

    height: 7%;
}
.item-name {
    font-size: 1.5rem;
    font-weight: 700;
}

.item-price {
    font-weight: 600;
    font-size: 1.5rem
}
.item-des {
    margin-bottom: 10px;
}
.price {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-usd {
    position: absolute;
    top: 25px;
    left: 32px;
    font-size: 1.2rem
}
.fa-star {
    color: gold
}


.no-res {
    position: fixed;
    /* or absolute */
    top: 50%;
    left: 40%;
}
.container-fluid {
    background-color: #DFEAF6
}
.navbar-brand {
    font-size: 4em;
    font-weight: 700;
    color: #FFA733
}