body {
    background-image: url("https://i.imgur.com/I6vYMpE.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.close {
    border: none;
    background: none;
}
.alert {
    opacity: 80%;
    margin-left: 30px;
    margin-right: 30px;
}
.res-container {
  
    min-height: 100%;
    display: flex;
    padding: 30px;
    font-family: 'Open Sans';
}

.new {
    margin-left: 10px
}
.query {
    flex: 0.4
}
.results-form {
    padding-right: 40px
}
.results-form > button {
    margin-left: 10px
}
.results {
    flex: 1;
}

#heading {
    font-size: 24px;
    font-weight: 700;
    color: #FFD700
}
.query-lab {
    color: white;
    margin-bottom: 5px
}
.query-row {
    margin-left: 10px
}

.top {
    display: flex;
    justify-content: space-between;
}
.result {
    overflow: hidden;
    max-height: 350px;
    margin-bottom: 20px;
    background-color: white;

}
.rest-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0px;
    display: inline-block;
    margin-right: 5px
}
.rest-address {
    font-size:14px
}
.star-outer {
    position:relative;
    display: inline-block;
    margin-right: 5px;
}
.star-outer > i::before {
    color: #ccc
}
.star-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;

}
.star-inner::before {
    font-weight: 900;
    color: #FFAA5C
}
.item-container {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 200px;
}

.item-name {
    font-size: 20px;
    font-weight: 700;
}

.item-price {
    font-weight: 600;
    font-size: 1.5rem
}
.item-des {
    margin-bottom: 10px;
}
.price {
    position:relative;
    display: flex;
    justify-content: center;
}
.fa-usd {
    margin-right: 5px;
    font-size: 1.2rem
}
.fa-star {
    color: gold
}
.user-rating {
    font-style: italic;
}

.no-res {
    color:white;
}
