{% macro restaurantCard(d, value) %}
<div class="shadow p-4 mb-6 rounded result">
    <div class="top">
        <div>
            <a href="{{value.link}}">
                <p class='rest-title'>{{d.capitalize()}}</p>
            </a>
            <div class="star-outer">
                <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                <div class="star-inner" data-rating="{{value['stars']}}">
                    <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                    <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                    <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                    <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                    <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                </div>
            </div>
            <span> {{value['stars']}}</span>
            <p class="rest-address">{{value.address}}</p>
        </div>
        {%if value['users']%}
        <div id = "user_{{d.replace(' ', '')}}">
            <script>
                var data = '{{value["users"]}}'
                displayMax(data, "{{d}}")
            </script>
        </div>
        {% endif %}
    </div>


    <div class="item-container">
        {%for item in value['items']%}
        <div class="row">
            <div class="col-10">
                <p class="item-name">{{item.name}}</p>
                <p class="item-des">{{item.description}}</p>
            </div>
            <div class="col-2 price">
                <i class="fa fa-usd" aria-hidden="true"></i>
                <p class="item-price">{{item.price|replace('$', '')}}</p>
            </div>
        </div>
        <hr class="solid">
        {% endfor %}

    </div>
</div>
{% endmacro %}